<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://cdn-icons-png.flaticon.com/512/2809/2809590.png" alt="" width="32" height="30" class="d-inline-block align-text-top">
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Adiciona um filme a sua lista", new_list_bookmark_path(@list), class: "text-decoration-none" %>
        </li>
      </ul>
  </div>
</nav>

<h1><%= @list.name %></h1>
<ul>
  <% @list.movies.each do |movie| %>
    <li><%= movie.title %></li>
    <ul>
      <li>Poster: <%= image_tag movie.poster_url, width: 150, height: 200 %></li>
      <li>Descrição: <%= movie.overview %></li>
      <li>Nota: <%= movie.rating %></li>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    </ul>
    <%= link_to 'Remover filme da lista', bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'Tem certeza?' } %>
  <% end %>
</ul>
<p><%= link_to "Voltar para 'Minhas Listas'", root_path %></p>
<p><%= link_to "Adiciona um filme a sua lista", new_list_bookmark_path(@list) %></p>
